<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>
  <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product Count</th>
            <th>Category Count</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @products_count %></td>
          <td><%= @categories_count %></td>
        </tr>
        </tbody>
      </table>
    </div>

<%= link_to 'Products', [:admin, :products], class: 'btn btn-lg btn-primary' %>