<h1>Welcome to our Store!</h1>
<div class="about">The Hill family started Jungle inside their 70-year-old department store in Vancouver. When Brian Hill opened the first standalone boutique in 1984, the idea was simple: offer rare items in aspirational spaces with exceptional service. People seemed to like what we were doing, so we grew. And we've kept on growing ever since.</div>
<img class="jungle-img" src="/jungle.jpeg" >